<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.makereservation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".paymentAccount"></activity>
        <!-- <activity android:name=".LogIn"></activity> -->
        <activity android:name=".payment3" />
        <activity android:name=".payment2" />
        <activity android:name=".Home" />
        <activity android:name=".checkavailability1" />
        <activity android:name=".checkavailability2" />
        <activity android:name=".paymentnew" />
        <activity android:name=".makereservation1" />
        <activity android:name=".makereservation2" />
        <activity android:name=".makereservation3" />
        <activity android:name=".makereservation4" />
        <activity android:name=".contactus1"/>
        <activity android:name=".contactus2"/>
        <activity android:name=".contactus3"/>
        <!-- <activity android:name=".paymentnew"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>